.container {
  padding: 0.4rem;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  a {
    color: white;
    text-decoration: none;
    margin: 1rem;
    font-size: 25px;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    color: white;
    font-weight: 400;
    font-size: 30px;
    span {
      font-weight: bold;
    }
  }
  img {
    width: 60px;
  }
}
